name: Build and Deploy Jekyll site

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - uses: actions/checkout@v3

      # 2️⃣ Setup Ruby
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2

      # 3️⃣ Install dependencies from Gemfile
      - run: |
          gem install bundler
          bundle install

      # 4️⃣ Build site using Bundler
      - run: bundle exec jekyll build

      # 5️⃣ Deploy
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
